@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 28% 14%;
    --card: 0 0% 100%;
    --card-foreground: 215 28% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 14%;
    --primary: 206 70% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 145 46% 51%;
    --secondary-foreground: 0 0% 100%;
    --muted: 215 21% 23%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 45 82% 61%;
    --accent-foreground: 215 28% 14%;
    --destructive: 0 72% 58%;
    --destructive-foreground: 0 0% 100%;
    --border: 215 21% 23%;
    --input: 215 21% 23%;
    --ring: 206 70% 57%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 215 28% 14%;
    --foreground: 0 0% 100%;
    --card: 215 21% 23%;
    --card-foreground: 0 0% 100%;
    --popover: 215 21% 23%;
    --popover-foreground: 0 0% 100%;
    --primary: 206 70% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 145 46% 51%;
    --secondary-foreground: 0 0% 100%;
    --muted: 215 21% 23%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 45 82% 61%;
    --accent-foreground: 215 28% 14%;
    --destructive: 0 72% 58%;
    --destructive-foreground: 0 0% 100%;
    --border: 215 21% 23%;
    --input: 215 21% 23%;
    --ring: 206 70% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
  }
}
